body{
margin:0;
}
.wrapper{
  width: 1024px;
  margin: 0 auto;
  transition: width ease 1s;
}
div.header{
  background-color: #FF0000;
    height: 50px;
    margin: 10px 0;
}
div.content_1{
  background-color: #FFFF00;
    height: 100px;
    margin: 10px 0;
}
div.b3{
  background-color: #FFA500;
    height: 100px;
    margin: 10px 0;
}
div.b4{
  background-color: #008000;
    height: 100px;
    margin: 10px 0;
}
div.b5{
  background-color: #FFC0CB;
    height: 100px;
    margin: 10px 0;
}
div.b6{
  background-color: #0000FF;
    height: 100px;
    margin: 10px 0;
}
@media only screen and (max-width:478px){
  div.content_2,div.content_3,div.content_4{
    display: none;
  }
}
@media only screen and (min-width:479px) and (max-width:768px){

div.main-section{
  width: 768px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.b1,.b6{
  width: 100%;
  margin: 0;
}
div.b3{
  width: 70%;
  order:-2;
  margin: 0;
}
div.b4{
  width: 28.5%;
  order:-1;
  margin: 0;
}
.main-content:first-child{
  width: 100%;
}
div.b5{
  height: 250px;
  width: 100%;
  margin: 0;
}
div.content_2,div.content_3,div.content_4{
  display: none;
}
}
@media only screen and (min-width:769px){
  div.main-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
  div.b3{
    width: 100%;
    order:-1;
    margin: 0;
  }
  div.main-content{
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  div.content_1,div.content_2,div.content_3,div.content_4{
    background-color: #FFFF00;
      height: 200px;
      margin: 10px 0 0 0;
      width: 49%;
      text-align: center;
      justify-content: center;
      display: flex;
 }
 .main-content div .content{
   align-self: center;
   font-weight: bold;
   font-size: 20px;
 }
 div.b4{
   width: 24%;
   height: 300px;
 }
 div.b6{
   width: 24%;
   height: 300px;
   margin-top: -100px;

 }
  div.b5{
    width: 75%;
    height: 250px;
  }
}
